<!DOCTYPE html>
<html>
  <head>
    <title> <%= :page_title %>| Jblog</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Jordan Marshall Photography, Photographer&amp; Photographer for the Dallas/Fort Worth area &amp; nearby cities."/>
    <meta name="robots" content="noodp"/>
    <meta name="keywords" content="Jordan Marshall Photography, Photographer, Photography, new born photography, bridals, engagements, family photography"/>
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Jordan Marshall Photography" />
    <meta property="og:description" content="Jordan Marshall Photography, Photographer&amp; Photographer for the Dallas/Fort Worth area &amp; nearby cities." />
    <meta property="og:url" content="http://jordanmarshallblog.com" />
    <meta property="og:site_name" content="Jordan Marshall photography" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Jordan Marshall Photography, Photographer&amp; Photographer for the Dallas/Fort Worth area &amp; nearby cities." />
    <meta name="twitter:title" content="Jordan Marshall Photography" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text|Open+Sans|Alex+Brush|Cookie|Six+Caps" rel="stylesheet">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/60f3b29919.js"></script>
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
  </head>

  <body>
		<%= render "layouts/header", page: "" %>

		<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

		<%= yield %>

		<%= render :partial => "layouts/footer" %>

  </body>
</html>
